<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638354885415-4g4k6pmp6eidgop8lkmteie30o9i0of5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638354885415-4g4k6pmp6eidgop8lkmteie30o9i0of5</string>
	<key>API_KEY</key>
	<string>AIzaSyAoJxpXza_BZpPDfUuaHFtsowTVDy8hNyg</string>
	<key>GCM_SENDER_ID</key>
	<string>638354885415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payflow2</string>
	<key>PROJECT_ID</key>
	<string>payflow2-4a209</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow2-4a209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638354885415:ios:3837024f60c87a83aa7702</string>
</dict>
</plist>